@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.markdown-content img {
    margin: 2vh auto 0 auto;
}

.icon-lines {
    fill: #fff;
    stroke: currentColor;
    stroke-width: 2px;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

:hover.share-icon-anim {
    rotate: 6deg;
    color: lightskyblue;
}

@keyframes shimmer {
    0% {
        background-position: -40rem 0;
    }

    100% {
        background-position: 40rem 0;
    }
}

.animate-shimmer {
    animation: shimmer 1.5s infinite linear;
    background: linear-gradient(90deg, #f3f3f3 0%, #ecebeb 50%, #f3f3f3 100%);
    background-size: 40rem 100%;
}

body {
    background-image: url('/bg.jpg');
    background-repeat: repeat;
    background-size: 50px
}